/* -------世界地図 ------- */


.none:hover{
	opacity: 0.8 !important;
}

.none li a{
	color:#ccc !important;
}

.none li:hover > a{
	color:#ccc !important;
	background:transparent !important;
}

.drop_clear {
	clrar:both;
}

#map_right ul li {
	list-style-type: none;
}


/* ========= シアトル ============== */

#dropmenu_seattle{
	font-size:82%;
	list-style-type: none;
	width:100px;
	height:36px;
	padding:0;
	margin: 95px 0 0 10px;
	background: #fff;
	border-radius: 3px;
	opacity: 0.8;
	border:solid 1px #ccc;
	z-index: 0;
}

#dropmenu_seattle:hover{
	background: #fff;
	opacity:10;
}

#dropmenu_seattle li{
	position: relative;
	float: left;
    right: 30px;
    bottom: 2px;
	margin: auto 0;
	padding: 0;
	text-align: center;
}

#dropmenu_seattle li a{
	display: block;
	margin: 0 ;
	width:80px;
	padding: 13px 6px 0 6px;
	color: #3099ff;
	text-decoration: none;
}


/* ========= ボストン ============== */

#dropmenu_boston{
	font-size:82%;
	list-style-type: none;
	width:100px;
	height:36px;
	padding:0;
	margin: 1px 10px 0 0;
	background: #fff;
	border-radius: 3px;
	opacity: 0.8;
	border:solid 1px #ccc;
	z-index: 0;
	float:right;
}

#dropmenu_boston:hover{
	background: #fff;
	opacity:10;
}

#dropmenu_boston li{
	position: relative;
    right: 30px;
    bottom: 2px;
	margin: auto 0;
	padding: 0;
	text-align: center;
}

#dropmenu_boston li a{
	display: block;
	margin: 0 ;
	width:80px;
	padding: 13px 6px 0 6px;
	color: #3099ff;
	text-decoration: none;
}

/* ========= サンフランシスコ ============== */

#dropmenu_sanfrancisco{
	font-size:78%;
	letter-spacing:0.01em;
	list-style-type: none;
	width:120px;
	height:36px;
	padding: 0;
	background: #fff;
	border-radius: 3px;
	opacity: 0.8;
	border:solid 1px #ccc;
	float:left;
	margin:-20px 100px 90px 10px;
	z-index: 1;
}

#dropmenu_sanfrancisco:hover{
	background: #fff;
	opacity:10;
}

#dropmenu_sanfrancisco li{
	position: relative;
	float: left;
    right: 24px;
	margin: auto 0;
	padding: 0;
	text-align: center;
	width:70px;
}

#dropmenu_sanfrancisco li a{
	display: block;
	margin: 0;
	width: 100px;
	padding: 10px 10px 5px 0;
	color: #3099ff;
	line-height: 1;
	text-decoration: none;
	line-height:1.4em;
}

/* ========= シカゴ ============== */

#dropmenu_chicago{
	font-size:82%;
	list-style-type: none;
	width:100px;
	height:36px;
	padding: 0;
	background: #fff;
	border-radius: 3px;
	opacity: 0.8;
	border:solid 1px #ccc;
	float:left;
	margin:0px 0 10px 180px;
	z-index: 0;
}

#dropmenu_chicago ul{
	width:110px;
}

#dropmenu_chicago:hover{
	background: #fff;
	opacity:10;
}

#dropmenu_chicago li{
	position: relative;
	float: left;
    right: 24px;
	margin: auto 0;
	padding: 0;
	text-align: center;
	width:70px;
}

#dropmenu_chicago li a{
	display: block;
	margin: 0;
	width:80px;
	padding: 10px 25px 0 15px;
	color: #3099ff;
	line-height: 1;
	text-decoration: none;
	line-height:1.4em;
}

/* ========= その他 ============== */

#dropmenu_other{
	font-size:82%;
	list-style-type: none;
	width:100px;
	height:36px;
	padding: 0;
	background: #fff;
	border-radius: 3px;
	opacity: 0.8;
	border:solid 1px #ccc;
	margin:20px 30px 0 -60px;
	z-index: 2;
	float:left;
}

#dropmenu_other:hover{
	background: #fff;
	opacity:10;
}

#dropmenu_other li{
	position: relative;
    right: 24px;
	margin: auto 0;
	padding: 0;
	text-align: center;
	width:70px;
	float:left;
}

#dropmenu_other li a{
	display: block;
	margin: 0;
	width:80px;
	padding: 10px 20px 0 0;
	color: #3099ff;
	line-height: 1;
	text-decoration: none;
	line-height:1.4em;
}

/* ========= ロサンゼルス ============== */

#dropmenu_losangels{
	font-size:82%;
	list-style-type: none;
	width:100px;
	height:36px;
	padding: 0;
	background: #fff;
	border-radius: 3px;
	opacity: 0.8;
	border:solid 1px #ccc;
	margin:-80px 120px 0 10px;
	z-index: 0;
	float:left;
}

#dropmenu_losangels:hover{
	background: #fff;
	opacity:10;
}

#dropmenu_losangels li{
	position: relative;
    right: 24px;
	margin: auto 0;
	padding: 0;
	text-align: center;
	width:70px;
	float:left;
}

#dropmenu_losangels li a{
	display: block;
	margin: 0;
	width:100px;
	padding: 10px 30px 0 0;
	color: #3099ff;
	line-height: 1;
	text-decoration: none;
	line-height:1.4em;
}

/* ========= ニューヨーク ============== */

#dropmenu_ny{
	font-size:82%;
	list-style-type: none;
	width:100px;
	height:36px;
	padding: 0;
	background: #fff;
	border-radius: 3px;
	opacity: 0.8;
	border:solid 1px #ccc;
	margin:30px 10px 0 10px;
	z-index: 0;
	float:right;
}

#dropmenu_ny:hover{
	background: #fff;
	opacity:10;
}

#dropmenu_ny li{
	position: relative;
    right: 24px;
	margin: auto 0;
	padding: 0;
	text-align: center;
	width:70px;
	float:right;
}

#dropmenu_ny li a{
	display: block;
	margin: 0;
	width:80px;
	padding: 10px 0 0 10px;
	color: #3099ff;
	line-height: 1;
	text-decoration: none;
	line-height:1.4em;
}

/* ========= サンディエゴ ============== */

#dropmenu_sandiego{
	font-size:82%;
	list-style-type: none;
	width:100px;
	height:36px;
	padding: 0;
	background: #fff;
	border-radius: 3px;
	opacity: 0.8;
	border:solid 1px #ccc;
	margin:-30px 0 0 90px;
	z-index: 0;
	float:left;
}

#dropmenu_sandiego:hover{
	background: #fff;
	opacity:10;
}

#dropmenu_sandiego li{
	position: relative;
    right: 24px;
	margin: auto 0;
	padding: 0;
	text-align: center;
	width:70px;
	float:left;
}

#dropmenu_sandiego li a{
	display: block;
	margin: 0;
	width: 100px;
	padding: 10px 30px 0 0;
	color: #3099ff;
	line-height: 1;
	text-decoration: none;
	line-height: 1.4em;
}

/* ========= フロリダ ============== */

#dropmenu_florida{
	font-size: 82%;
	list-style-type: none;
	width: 100px;
	height: 36px;
	padding: 0;
	background: #fff;
	border-radius: 3px;
	opacity: 0.8;
	border: solid 1px #ccc;
	margin: 10px 0 0 140px;
	z-index: 0;
	float: left;
}

#dropmenu_florida:hover{
	background: #fff;
	opacity:10;
}

#dropmenu_florida li{
	position: relative;
    right: 24px;
	margin: auto 0;
	padding: 0;
	text-align: center;
	width: 70px;
	float: left;
}

#dropmenu_florida li a{
	display: block;
	margin: 0;
	width: 100px;
	padding: 10px 30px 0 0;
	color: #3099ff;
	line-height: 1;
	text-decoration: none;
	line-height: 1.4em;
}


/* ========= ハワイ ============== */

#dropmenu_hawaii {
	font-size: 82%;
	list-style-type: none;
	width: 100px;
	height: 36px;
	padding: 0;
	background: #fff;
	border-radius: 3px;
	opacity: 0.8;
	border: solid 1px #ccc;
	margin: 30px 0 0 20px;
	z-index: 0;
	float: left;
}

#dropmenu_hawaii:hover{
	background: #fff;
	opacity:10;
}

#dropmenu_hawaii li{
	position: relative;
    right: 24px;
	margin: auto 0;
	padding: 0;
	text-align: center;
	width: 70px;
	float: left;
}

#dropmenu_hawaii li a{
	display: block;
	margin: 0;
	width: 80px;
	padding: 10px 15px 0 0;
	color: #3099ff;
	line-height: 1;
	text-decoration: none;
	line-height: 1.4em;
}


/* ========= どの都市にする？ ============== */

#dropmenu_whichcity {
	font-size: 82%;
	list-style-type: none;
	width: 140px;
	height: 36px;
	padding: 0;
	background: #ffe400;
	border-radius: 3px;
	opacity: 0.8;
	border: solid 1px #ffd800;
	margin: 30px 14px 0 20px;
	z-index: 0;
	float: right;
}

#dropmenu_whichcity:hover{
	background: #ffe400;
	opacity:10;
}

#dropmenu_whichcity li{
	position: relative;
    right: 24px;
	margin: auto 0;
	padding: 0;
	text-align: center;
	width: 120px;
	float: left;
}

#dropmenu_whichcity li a{
	display: block;
	margin: 0;
	width: 120px;
	padding: 10px 15px 0 0;
	color: #000;
	line-height: 1;
	text-decoration: none;
	line-height: 1.4em;
}